body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',"Times New Roman",sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: #1f2937;
    color: #f9faf8;
}

header h2{
    font-weight: bold;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #f9faf8;
}

.description-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
    flex: 1;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 20px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    background-color: #1f2937;
    height: fit-content;
    gap: 8px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.text{
    font-weight: lighter;
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 200px;
}

.image{
    color:#1f2937;
}

button.signup-one{
    padding: 8px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:none;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.showcase-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px;
    gap:20px;
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex:0 1 100px;
}

.card{
    height: 150px;
    width: 150px;
    border:2px solid #3882f6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    max-width: 150px;
    word-wrap: break-word;
}

.quote-container{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 20px 200px;
}

.quote{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    min-width: 500px;
    max-width: 1000px;
    padding:20px;
}

.quote-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    font-weight: 900;
}


.cta-container{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px 200px;
}

.cta{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #3882f6;
    padding: 20px;
    border-radius: 16px;
    height: 150px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    margin-left:100px;
    flex: 1;
    color:#f9faf8;
    justify-content: center;
    gap: 10px;
}
.cta-text h2,p{
    margin: 0;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

button.signup-two{
    padding: 12px 24px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:1px solid white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
    color: #E5E7EB;
}