body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: #1f2937;
    color: #f9faf8;
}

header h2{
    font-weight: bold;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #f9faf8;
}

.description-container{}
.showcase-container{}
.quote-container{}
.cta-container{}
footer{
    display: flex;
}